
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@section Header{ 
@await Html.PartialAsync("_UserHeaderLayout");
}

@section Footer{ 
@await Html.PartialAsync("_UserFooterLayout");
}

<section class="s-content">
    <div class="row masonry-wrap">
        <h2>Your Articles</h2>

        <div class="masonry">
            <div class="grid-sizer"></div>

            <div class="favorite-articles">
                <article class="masonry__brick entry format-standard" data-aos="fade-up">

                    <div class="entry__thumb">
                        <a asp-controller="Article" asp-action="UserStandardFormat" class="entry__thumb-link">
                            <img src="~/images/thumbs/masonry/lamp-400.jpg"
                                 srcset="~/images/thumbs/masonry/lamp-400.jpg 1x, ~/images/thumbs/masonry/lamp-800.jpg 2x"
                                 alt="">
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">

                            <div class="entry__date">
                                <a asp-controller="Article" asp-action="UserStandardFormat">December 15, 2017</a>
                            </div>
                            <h1 class="entry__title">
                                <a asp-controller="Article" asp-action="UserStandardFormat">Just a Standard Format Post.</a>
                            </h1>

                        </div>
                        <div class="entry__excerpt">
                            <p>
                                Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et
                                sit
                                proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute
                                incididunt velit sint in aliqua...
                            </p>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a asp-controller="Category" asp-action="UserCategory">Design</a>
                                <a asp-controller="Category" asp-action="UserCategory">Photography</a>
                            </span>
                        </div>
                    </div>

                </article> <!-- end article -->

                <article class="masonry__brick entry format-standard" data-aos="fade-up">

                    <div class="entry__thumb">
                        <a asp-controller="Article" asp-action="UserStandardFormat" class="entry__thumb-link">
                            <img src="~/images/thumbs/masonry/tulips-400.jpg"
                                 srcset="~/images/thumbs/masonry/tulips-400.jpg 1x, ~/images/thumbs/masonry/tulips-800.jpg 2x"
                                 alt="">
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">

                            <div class="entry__date">
                                <a asp-controller="Article" asp-action="UserStandardFormat">December 15, 2017</a>
                            </div>
                            <h1 class="entry__title">
                                <a asp-controller="Article" asp-action="UserStandardFormat">
                                    10 Interesting Facts About
                                    Caffeine.
                                </a>
                            </h1>

                        </div>
                        <div class="entry__excerpt">
                            <p>
                                Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et
                                sit
                                proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute
                                incididunt velit sint in aliqua...
                            </p>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a asp-controller="Category" asp-action="Category">Health</a>
                            </span>
                        </div>
                    </div>

                </article> <!-- end article -->
            </div>

            <article class="masonry__brick entry format-standard" data-aos="fade-up">

                <div class="entry__thumb">
                    <a asp-controller="Article" asp-action="UserStandardFormat" class="entry__thumb-link">
                        <img src="~/images/thumbs/masonry/wheel-400.jpg"
                             srcset="~/images/thumbs/masonry/wheel-400.jpg 1x, ~/images/thumbs/masonry/wheel-800.jpg 2x"
                             alt="">
                    </a>
                </div>

                <div class="entry__text">
                    <div class="entry__header">

                        <div class="entry__date">
                            <a asp-controller="Article" asp-action="UserStandardFormat">December 10, 2017</a>
                        </div>
                        <h1 class="entry__title">
                            <a asp-controller="Article" asp-action="UserStandardFormat">
                                Visiting Theme Parks Improves Your
                                Health.
                            </a>
                        </h1>

                    </div>
                    <div class="entry__excerpt">
                        <p>
                            Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit
                            proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute
                            incididunt velit sint in aliqua...
                        </p>
                    </div>
                    <div class="entry__meta">
                        <span class="entry__meta-links">
                            <a asp-controller="Category" asp-action="UserCategory">Health</a>
                            <a asp-controller="Category" asp-action="UserCategory">Lifestyle</a>
                        </span>
                    </div>
                </div>

            </article>
        </div> <!-- end masonry-wrap -->
    </div>
        <div class="row masonry-wrap">
            <h2>Related your favorite tags</h2>

            <div class="masonry">
                <div class="grid-sizer"></div>

                <div class="favorite-articles">
                    <article class="masonry__brick entry format-standard" data-aos="fade-up">

                        <div class="entry__thumb">
                            <a asp-controller="Article" asp-action="UserStandardFormat" class="entry__thumb-link">
                                <img src="~/images/thumbs/masonry/lamp-400.jpg"
                                     srcset="~/images/thumbs/masonry/lamp-400.jpg 1x, ~/images/thumbs/masonry/lamp-800.jpg 2x"
                                     alt="">
                            </a>
                        </div>

                        <div class="entry__text">
                            <div class="entry__header">

                                <div class="entry__date">
                                    <a asp-controller="Article" asp-action="UserStandardFormat">December 15, 2017</a>
                                </div>
                                <h1 class="entry__title">
                                    <a asp-controller="Article" asp-action="UserStandardFormat">Just a Standard Format Post.</a>
                                </h1>

                            </div>
                            <div class="entry__excerpt">
                                <p>
                                    Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et
                                    sit
                                    proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute
                                    incididunt velit sint in aliqua...
                                </p>
                            </div>
                            <div class="entry__meta">
                                <span class="entry__meta-links">
                                    <a asp-controller="Category" asp-action="UserCategory">Design</a>
                                    <a asp-controller="Category" asp-action="UserCategory">Photography</a>
                                </span>
                            </div>
                        </div>

                    </article> <!-- end article -->

                    <article class="masonry__brick entry format-standard" data-aos="fade-up">

                        <div class="entry__thumb">
                            <a asp-controller="Article" asp-action="UserStandardFormat" class="entry__thumb-link">
                                <img src="~/images/thumbs/masonry/tulips-400.jpg"
                                     srcset="~/images/thumbs/masonry/tulips-400.jpg 1x, ~/images/thumbs/masonry/tulips-800.jpg 2x"
                                     alt="">
                            </a>
                        </div>

                        <div class="entry__text">
                            <div class="entry__header">

                                <div class="entry__date">
                                    <a asp-controller="Article" asp-action="UserStandardFormat">December 15, 2017</a>
                                </div>
                                <h1 class="entry__title">
                                    <a asp-controller="Article" asp-action="UserStandardFormat">
                                        10 Interesting Facts About
                                        Caffeine.
                                    </a>
                                </h1>

                            </div>
                            <div class="entry__excerpt">
                                <p>
                                    Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et
                                    sit
                                    proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute
                                    incididunt velit sint in aliqua...
                                </p>
                            </div>
                            <div class="entry__meta">
                                <span class="entry__meta-links">
                                    <a asp-controller="Category" asp-action="Category">Health</a>
                                </span>
                            </div>
                        </div>

                    </article> <!-- end article -->
                </div>

                <article class="masonry__brick entry format-standard" data-aos="fade-up">

                    <div class="entry__thumb">
                        <a asp-controller="Article" asp-action="UserStandardFormat" class="entry__thumb-link">
                            <img src="~/images/thumbs/masonry/wheel-400.jpg"
                                 srcset="~/images/thumbs/masonry/wheel-400.jpg 1x, ~/images/thumbs/masonry/wheel-800.jpg 2x"
                                 alt="">
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">

                            <div class="entry__date">
                                <a asp-controller="Article" asp-action="UserStandardFormat">December 10, 2017</a>
                            </div>
                            <h1 class="entry__title">
                                <a asp-controller="Article" asp-action="UserStandardFormat">
                                    Visiting Theme Parks Improves Your
                                    Health.
                                </a>
                            </h1>

                        </div>
                        <div class="entry__excerpt">
                            <p>
                                Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit
                                proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute
                                incididunt velit sint in aliqua...
                            </p>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a asp-controller="Category" asp-action="UserCategory">Health</a>
                                <a asp-controller="Category" asp-action="UserCategory">Lifestyle</a>
                            </span>
                        </div>
                    </div>

                </article>
                <!-- end article

                </div> <!-- end masonry -->
            </div> <!-- end masonry-wrap -->

            <div class="row">
                <div class="col-full">
                    <nav class="pgn">
                        <ul>
                            <li><a class="pgn__prev" href="#0">Prev</a></li>
                            <li><a class="pgn__num" href="#0">1</a></li>
                            <li><span class="pgn__num current">2</span></li>
                            <li><a class="pgn__num" href="#0">3</a></li>
                            <li><a class="pgn__num" href="#0">4</a></li>
                            <li><a class="pgn__num" href="#0">5</a></li>
                            <li><span class="pgn__num dots">…</span></li>
                            <li><a class="pgn__num" href="#0">8</a></li>
                            <li><a class="pgn__next" href="#0">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

</section> <!-- s-content -->
<!-- s-extra
================================================== -->
<section class="s-extra">

    <div class="row top">

        <div class="col-eight md-six tab-full popular">
            <h3>Popular Posts</h3>

            <div class="block-1-2 block-m-full popular__posts">
                <article class="col-block popular__post">
                    <a asp-controller="Article" asp-action="UserStandardFormat" class="popular__thumb">
                        <img src="~/images/thumbs/small/wheel-150.jpg" alt="">
                    </a>
                    <h5><a asp-controller="Article" asp-action="UserStandardFormat">Visiting Theme Parks Improves Your Health.</a></h5>
                    <section class="popular__meta">
                        <span class="popular__author"><span>By</span> <a href="#0"> John Doe</a></span>
                        <span class="popular__date">
                            <span>on</span> <time datetime="2017-12-19">
                                Dec 19,
                                2017
                            </time>
                        </span>
                    </section>
                </article>
                <article class="col-block popular__post">
                    <a asp-controller="Article" asp-action="UserStandardFormat" class="popular__thumb">
                        <img src="~/images/thumbs/small/shutterbug-150.jpg" alt="">
                    </a>
                    <h5><a asp-controller="Article" asp-action="UserStandardFormat">Key Benefits Of Family Photography.</a></h5>
                    <section class="popular__meta">
                        <span class="popular__author"><span>By</span> <a href="#0"> John Doe</a></span>
                        <span class="popular__date">
                            <span>on</span> <time datetime="2017-12-18">
                                Dec 18,
                                2017
                            </time>
                        </span>
                    </section>
                </article>
                <article class="col-block popular__post">
                    <a asp-controller="Article" asp-action="UserStandardFormat" class="popular__thumb">
                        <img src="~/images/thumbs/small/cookies-150.jpg" alt="">
                    </a>
                    <h5><a asp-controller="Article" asp-action="UserStandardFormat">Absolutely No Sugar Oatmeal Cookies.</a></h5>
                    <section class="popular__meta">
                        <span class="popular__author"><span>By</span> <a href="#0"> John Doe</a></span>
                        <span class="popular__date">
                            <span>on</span> <time datetime="2017-12-16">
                                Dec 16,
                                2017
                            </time>
                        </span>
                    </section>
                </article>
                <article class="col-block popular__post">
                    <a asp-controller="Article" asp-action="UserStandardFormat" class="popular__thumb">
                        <img src="~/images/thumbs/small/beetle-150.jpg" alt="">
                    </a>
                    <h5><a asp-controller="Article" asp-action="UserStandardFormat">Throwback To The Good Old Days.</a></h5>
                    <section class="popular__meta">
                        <span class="popular__author"><span>By</span> <a href="#0"> John Doe</a></span>
                        <span class="popular__date">
                            <span>on</span> <time datetime="2017-12-16">
                                Dec 16,
                                2017
                            </time>
                        </span>
                    </section>
                </article>
                <article class="col-block popular__post">
                    <a asp-controller="Article" asp-action="UserStandardFormat" class="popular__thumb">
                        <img src="~/images/thumbs/small/tulips-150.jpg" alt="">
                    </a>
                    <h5><a asp-controller="Article" asp-action="UserStandardFormat">10 Interesting Facts About Caffeine.</a></h5>
                    <section class="popular__meta">
                        <span class="popular__author"><span>By</span> <a href="#0"> John Doe</a></span>
                        <span class="popular__date">
                            <span>on</span> <time datetime="2017-12-14">
                                Dec 14,
                                2017
                            </time>
                        </span>
                    </section>
                </article>
                <article class="col-block popular__post">
                    <a asp-controller="Article" asp-action="UserStandardFormat" class="popular__thumb">
                        <img src="~/images/thumbs/small/salad-150.jpg" alt="">
                    </a>
                    <h5><a asp-controller="Article" asp-action="UserStandardFormat">Healthy Mediterranean Salad Recipes</a></h5>
                    <section class="popular__meta">
                        <span class="popular__author"><span>By</span> <a href="#0"> John Doe</a></span>
                        <span class="popular__date">
                            <span>on</span> <time datetime="2017-12-12">
                                Dec 12,
                                2017
                            </time>
                        </span>
                    </section>
                </article>
            </div> <!-- end popular_posts -->
        </div> <!-- end popular -->

        <div class="col-four md-six tab-full about">
            <h3>About Philosophy</h3>

            <p>
                Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat. Pellentesque in
                ipsum id orci porta dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
                Quisque velit nisi, pretium ut lacinia in, elementum id enim. Donec sollicitudin molestie malesuada.
            </p>

            <ul class="about__social">
                <li>
                    <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="#0"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                </li>
            </ul> <!-- end header__social -->
        </div> <!-- end about -->

    </div> <!-- end row -->

    <div class="row bottom tags-wrap">
        <div class="col-full tags">
            <h3>Your Favorite Tags. <a href="#">Click here for add new tags.</a></h3>

            <div class="tagcloud">
                <a asp-controller="Category" asp-action="UserCategory">Salad</a>
                <a asp-controller="Category" asp-action="UserCategory">Recipe</a>
                <a asp-controller="Category" asp-action="UserCategory">Places</a>
                <a asp-controller="Category" asp-action="UserCategory">Tips</a>
            </div> <!-- end tagcloud -->
        </div> <!-- end tags -->
    </div> <!-- end tags-wrap -->

</section> <!-- end s-extra -->
