@model UserRegisterVM

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="~/css/base.css">
    <link rel="stylesheet" href="~/css/vendor.css">
    <link rel="stylesheet" href="~/css/main.css">


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- script
    ================================================== -->
    <script src="~/js/modernizr.js"></script>
    <script src="~/js/pace.min.js"></script>

    <link rel="stylesheet" href="~/css/sign-up.css">

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="https://plugins.jetbrains.com/files/7083/167913/icon/pluginIcon.png"
          type="image/x-icon">
    <link rel="icon" href="https://plugins.jetbrains.com/files/7083/167913/icon/pluginIcon.png" type="image/x-icon">

    <title>Login</title>


</head>

<body id="top" style="background-color: #151515;opacity: 0.95;">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous">
    </script>



    <!-- Form Start -->

    <header>
        <h1 class="main-header">exception.</h1>
        <p>Discover your future !</p>
        @*<p class="info-p">Enter your email address. We will send a link to your email address.</p>*@
    </header>

    <form asp-action="Login" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger">@ViewBag.ErrorMessage</div>

        <div class="form-outline mb-4 input-div">
            <label asp-for="UserRegister.Email" class="email-text" for="text">Email</label>
            <input asp-for="UserRegister.Email" type="email" id="form1Example1" class="form-control" />
            <span asp-validation-for="UserRegister.Email" class="text-danger"></span>
        </div>
        <div class="form-outline mb-4 input-div">
            <label asp-for="UserRegister.Password" class="email-text" for="text">Password</label>
            <input asp-for="UserRegister.Password" type="email" id="form1Example1" class="form-control" />
            <span asp-validation-for="UserRegister.Password" class="text-danger"></span>
        </div>
        <input type="submit" value="Login" class="btn btn-primary btn-block btn-activation" />
    </form>

    <!-- Form End -->
    <!-- s-footer
    ================================================== -->
    <footer class="s-footer">

        <div class="s-footer__main">
            <div class="row">

                <div class="col-1">

                    <h4>Quick Links</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="#0">Home</a></li>
                        <li><a href="#0">Blog</a></li>
                        <li><a href="#0">Styles</a></li>
                        <li><a href="#0">About</a></li>
                        <li><a href="#0">Contact</a></li>
                        <li><a href="#0">Privacy Policy</a></li>
                    </ul>

                </div> <!-- end s-footer__sitelinks -->

                <div class="col-2">

                    <h4>Archives</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="#0">January 2018</a></li>
                        <li><a href="#0">December 2017</a></li>
                        <li><a href="#0">November 2017</a></li>
                        <li><a href="#0">October 2017</a></li>
                        <li><a href="#0">September 2017</a></li>
                        <li><a href="#0">August 2017</a></li>
                    </ul>

                </div> <!-- end s-footer__archives -->

                <div class="col-3">

                    <h4>Social</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="#0">Facebook</a></li>
                        <li><a href="#0">Instagram</a></li>
                        <li><a href="#0">Twitter</a></li>
                        <li><a href="#0">Pinterest</a></li>
                        <li><a href="#0">Google+</a></li>
                        <li><a href="#0">LinkedIn</a></li>
                    </ul>

                </div> <!-- end s-footer__social -->
                <div class="col-4">
                    <h4>Our Newsletter</h4>

                    <p class="footer-info">
                        Sit vel delectus amet officiis repudiandae est voluptatem. Tempora maxime
                        provident nisi et
                        fuga
                        et enim exercitationem ipsam. Culpa consequatur occaecati.
                    </p>

                    <div class="subscribe-form">
                        <form id="mc-form" class="group" novalidate="true">

                            <input type="email" value="" name="EMAIL" class="email" id="mc-email"
                                   placeholder="Email Address" required="" style="width: 30rem;">

                            <input type="submit" name="subscribe" value="Send" style="margin-top: 1rem;">

                            <label for="mc-email" class="subscribe-message"></label>

                        </form>
                    </div>
                </div>

            </div>
        </div> <!-- end s-footer__main -->



    </footer> <!-- end s-footer -->

    <div class="row">
        <div class="col-full">
            <div class="s-footer__copyright">
                <span>© Copyright Exception 2022</span>
            </div>

            <div class="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"></a>
            </div>
        </div>
    </div> <!-- end s-footer__bottom -->
    <!-- preloader
    ================================================== -->


    <div id="preloader">
        <div id="loader">
            <div class="line-scale">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/main.js"></script>

</body>

</html>