@model ArticleCreateVM

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Article</title>
    <link rel="stylesheet" href="~/css/add-article.css">
    <link rel="stylesheet" href="~/css/fonts.css">

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="https://plugins.jetbrains.com/files/7083/167913/icon/pluginIcon.png"
          type="image/x-icon">
    <link rel="icon" href="https://plugins.jetbrains.com/files/7083/167913/icon/pluginIcon.png" type="image/x-icon">

</head>

<body>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger">@ViewBag.ErrorMessage</div>
        <div class="header-title">
            <h1 style="margin-top: -1.5rem;color: white;font-size: 5rem;">exception.</h1>
            <p class="header-p">Think outside of the box.</p>
            <button class="btn-publish" type="submit" value="Create">Publish</button>
            @*<button class="btn-draft">Save to Drafts</button>*@

        </div>

        <div class="container">

            @* ?????????????????? *@
            @*<div class="tag-section">
                <select id="topicArticle">
                   @foreach (var item in Model.Topics)
                   {
                       <option asp-for="Article.Topic" value=@item.Id asp-route-id=@item.Id>@item.Name</option>
                   }

                </select>
                
                <ul id="list-tag">
                </ul>
            </div>*@

            <div class="title-section">
                <input asp-for="Article.Title" type="text" placeholder="Title" id="article-title">
                <span asp-validation-for="Article.Title" class="text-danger"></span>
            </div>

            <div class="text-section">
                <textarea asp-for="Article.Content" name="" id="article-content" cols="30" rows="50" placeholder="Content"></textarea>
                <span asp-validation-for="Article.Content" class="text-danger"></span>
            </div>

            <div class="text-section">
                <label asp-for="Article.TotalReadingTime" for="quantity" class="total-time">Total Reading Time:</label>
                <input asp-for="Article.TotalReadingTime" type="number" id="quantity" name="quantity" min="1" max="100" class="nud">
                <span asp-validation-for="Article.TotalReadingTime" class="text-danger"></span>
            </div>

            <a asp-controller="User" asp-action="Index">Back to Mainpage</a>

        </div>
    </form>
    

</body>

</html>